### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
*.xcbkptlist
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# Ignore the Resources directory
Titanium/Resources/*
!Titanium/Resources/Box/
!Titanium/Resources/Box/**
!Titanium/Resources/Utah_Teapot/
!Titanium/Resources/Utah_Teapot/**